name: "CI - Test Features"
on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch:

jobs:
  lint-shell-scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint shell scripts
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: './'

  test-scenarios:
    runs-on: ubuntu-latest
    needs: lint-shell-scripts
    strategy:
      matrix:
        features:
          - node
          - nvim
          - hello
    steps:
      - uses: actions/checkout@v4

      - name: "Install latest devcontainer CLI"
        run: npm install -g @devcontainers/cli

      - name: "Generating tests for '${{ matrix.features }}' scenarios"
        run: ./test/test-builds.sh -s ./test/${{ matrix.features }}/scenarios.json

