name: "Validate devcontainer-feature.json files"
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ "main", "dev" ]

jobs:
  validate:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - uses: actions/checkout@v4

      - name: "Validate devcontainer-feature.json files"
        uses: devcontainers/action@v1
        with:
          validate-only: "true"
          base-path-to-features: "./src"

